

@font-face {
    font-family: 'crosstenextralight';
    src: url('./crossten-extralight-webfont.woff') format('woff2'),
         url('./crossten-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.topbar{
	/* position: fixed; */
	/* top: 0; */
	height: 100px;
	width: 100%;

	background-color: #999999;

	border-radius: 50px;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.knob {
	height: 100px;
	width: 100px;
	border-radius: 50px;
	border-right: 1px solid black;
	border-left: 1px solid grey;

	box-shadow: inset 0 0 3px 3px #aaaaaa;

	transform: rotate(45deg);
}

.knob2 {
	height: 150px;
	width: 150px;
	border-radius: 75px;
	border-right: 1px solid black;
	border-left: 1px solid grey;

	box-shadow: inset 0 0 3px 3px #aaaaaa;

	transform: rotate(45deg);
}

#logo {
	color: #303030;
	font-size: 64px;
}

.led_zone {
	height: 100px;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.led {
	height: 6px;
	width: 18px;
	border-radius: 3px;
	/* border: 1px solid black; */
	background-image: radial-gradient(circle, #444444 10%, #666666);
}


.board {
	background-color: #2b2b2b;
	min-height: 500px;
	border-radius: 75px;
	padding: 24px;
	
	/* tip to remove whitespace : */
	font-size: 0;
	font-family: crosstenextralight;

}

.logi_key {
	color: #e2f9ff;
	margin: 4px;

	/* vertical-align: middle;*/
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	overflow: hidden;
	isolation: isolate;

	box-shadow: 0 0 3px 0px #000;

	transition-delay: 30ms;
}

.logi_key, .shadowed{
	border-radius: 6px;
	width: 48px;
	height: 48px;
}

.w-sm, .w-sm .shadowed {
	width: 36px;
}
.w-md, .w-md .shadowed {
	width: 72px;
}
.w-lg, .w-lg .shadowed {
	width: 96px;
}
.w-xl, .w-xl .shadowed {
	width: 120px;
}

.h-sm, .h-sm .shadowed {
	height: 36px;
}
.h-md, .h-md .shadowed {
	height: 72px;
}
.h-lg, .h-lg .shadowed {
	height: 96px;
}
.h-xl, .h-xl .shadowed {
	height: 120px;
}

.large_font {
	font-size: 24px;

}
.small_font {
	font-size: 12px;
	padding: 0 8px;
}


.logi_key::before,
.logi_key::after,
.shadowed::before,
.shadowed:focus::after{
	content: "";
	display:block;
	position: absolute;
	inset: 0;
	height: inherit;
	width: inherit;
}

.logi_key::before{
	/* dark is down-side */
	background-image: linear-gradient(
		-38deg,
		rgba(0, 0, 0, 0.4), 
		rgba(0, 0, 0, 0));
	z-index: -3;
}

.logHHi_key::after{
	background-image: radial-gradient(
		ellipse, 
	rgba(0,0,0,0) 58%, 
	#303030 68%, 
	#303030);
	z-index: -5;
}

.curve {
	/* border: 1px solid red; */
	border-radius: 24px;
	box-shadow: inset 0 0 3px 1px #303030;
	background-color: transparent;
	width: inherit;
	height: inherit;
	z-index: -1;
}

.shadodwed::before{
	/* dark is up-side */
	background-image: linear-gradient(
		-38deg,
		#707070, 
		#272727);
	z-index: 1;
}


.logi_key:hover {
	box-shadow: 0 0 1px 2px #e2f9ff;
	transition-duration: 125ms;
}

.shadowed:focus {
	outline: none;
	color: whitesmoke;
	text-decoration: underline;
	
	transition-duration: 125ms;
	z-index: 3;
}


.logi_key:active {
	box-shadow: 0 0 0px 1px #4c5253;
	transition-duration: 00ms;
}




.board, #azerty, #nav_top, #nav_bottom, #arrows_top, #arrows_bottom {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

#center {
	/* border: 1px solid red; */
	height: 400px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: flex-start;
}

#azerty {
	width: 450px;
}


#arrows_top {
	margin: 0 auto;
	justify-content: center;
}